body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: blue;
  color: yellow
}

.card {
  border: 2px solid red;
  border-radius: 15px;
  padding: 8px, 10px
}

.card + .card {
  margin-top : 20px
}

.greet{
  color: white
}

.greet h1 {
  font-family: fantasy
}